<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Audio Status</title>
    <script src="js/others/jquery-3.4.1.min.js"></script>
    <script src="js/others/popper.min.js"></script>
    <link rel="stylesheet" href="css/others/bootstrap.min.css" />
    <script src="js/others/bootstrap.min.js"></script>
    <style>
      .container {
        padding-top: 7%;
      }
      tbody tr:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              id="filterLanguage"
              onkeyup="filterLanguage()"
              class="form-control"
              placeholder="Filter by language/ Language ID"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <table
          class="table table-bordered table-striped table-hover"
          id="audio-status-table"
        >
          <thead>
            <tr>
              <th scope="col">Language</th>
              <th scope="col">No. of IDs Generated</th>
              <th scope="col">No. of Successful Projects</th>
              <th scope="col">No. of Pending Projects</th>
              <th scope="col">No. of Approved Projects</th>
            </tr>
          </thead>
          <tbody id="audio-status-table-body">
            <% table.forEach(function(row){ %>
            <tr data-language_id="<%= row.language_id %>">
              <td scope="row"><%= row.language %></td>
              <td scope="row"><%= row.total %></td>
              <td scope="row"><%= row.completed %></td>
              <td scope="row"><%= row.inprogress %></td>
              <td scope="row"><%= row.approved %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      $("tbody tr").on("click", function(e) {
        var req_language = $(e.currentTarget).data("language_id");
        console.log(req_language);
        window.location.href = "./language-status?language_id=" + req_language;
      });
      function filterLanguage() {
        var inputValue = $("#filterLanguage")
          .val()
          .toUpperCase();
        var tr = $("#audio-status-table-body tr");
        tr.each((index, element) => {
          if (!isNaN(inputValue)) {
            if (inputValue != element.getAttribute("data-language_id")) {
              element.style.display = "none";
            } else {
              element.style.display = "table-row";
            }
          }
          else{
            var req_td = element.getElementsByTagName("td")[0];
            var language = req_td.textContent || req_td.innerText;
            if(language.toUpperCase().indexOf(inputValue)>-1){
              element.style.display = "table-row";
            }
            else{
              element.style.display = "none";
            }
          }

          if ((!inputValue)) {
            element.style.display = "table-row";
          }
        });
      }
    </script>
  </body>
</html>
