<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Audio Status</title>
    <script src="js/others/jquery-3.4.1.min.js"></script>
    <script src="js/others/popper.min.js"></script>
    <link rel="stylesheet" href="css/others/bootstrap.min.css" />
    <script src="js/others/bootstrap.min.js"></script>
    <style>
      .container {
        padding-top: 7%;
      }
      tbody tr:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Language ID</th>
              <th scope="col">Language Name</th>
              <th scope="col">Number of Review Remaining</th>
            </tr>
          </thead>
          <tbody>
            <% table.forEach(function(row){ %>
            <tr data-language-id="<%= row.Language_id %>">
              <th scope="row"><%= row.Language_id %></th>
              <th scope="row"><%= row.Language_name %></th>
              <th scope="row"><%= row.num_completed %></th>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      $("tbody tr").on("click", function(e) {
        var req_language = $(e.currentTarget).data("language-id");
        console.log(req_language);
        // window.location.href = "./reviewer-portal";
        $("<form>", {
          id: "req_user_id",
          html:
            '<input type="text" id="req_language" name="req_language" value="' +
            req_language +
            '" />',
          action: "./reviewer-portal"
        })
          .appendTo(document.body)
          .submit();
      });
    </script>
  </body>
</html>
