<html>
  <head>
    <meta charset="UTF-8" />
    <title>Complete Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="css/others/select2.css" rel="stylesheet" />
    <script src="js/others/select2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap"
      rel="stylesheet"
    />
    <!-- Bowser Js -->
    <script src="https://cdn.jsdelivr.net/npm/bowser@2.5.3/es5.js"></script>
    <!-- Font Awesome -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script>
      $(document).ready(function() {
        $("#languages").select2();
        var result = navigator.userAgent;
        // if (result.includes("; wv" || result.includes("MessengerForiOS"))) {
        //   $("#documentationModal").modal({
        //     backdrop:"static",
        //     show:true
        //   });
        //   $("#contact").addClass("d-none");
        // }
      });
    </script>
    <style>
      /*Contact sectiom*/
      body {
        /* background: rgb(0, 47, 107); */
        background-color: #ffffff;
        min-height: 100vh;
        font-weight: 300;
        font-family: "Poppins", serif;
        overflow-x: hidden;
      }

      .content-header {
        color: #222;
        font-weight: 300;
        font-size: 38px;
      }

      .section-content {
        text-align: center;
      }

      .section-header {
        padding: 2rem 1rem;
      }

      #contact {
        font-family: "Teko", sans-serif;
        padding-top: 20px;
        width: 100%;
        width: 100vw;
        height: 100vh;
        color: #fff;
      }

      .contact-section {
        padding-top: 40px;
      }

      .contact-section .col-md-6 {
        width: 50%;
      }

      .user-language-removable {
        width: 80% !important;
      }
      .selectpicker.user-language {
        float: left;
      }
      /*.user-language-removable .btn{
      width: 80%;
    }*/
      .remove-language {
        color: #ed3833;
        display: inline-block;
        font-size: 3rem;
        width: 20%;
        text-align: center;
        cursor: pointer;
      }
      .d-none {
        display: none;
      }

      .form-group {
        margin-top: 10px;
      }

      label {
        font-size: 1.3em;
        font-weight: 300;
        color: #222222;
      }

      .form-control {
        font-size: 1.3em;
        color: #080808;
      }

      .user-language {
        margin-bottom: 10px !important;
      }

      .float-right {
        float: right;
      }

      textarea.form-control {
        height: 135px;
        /* margin-top: px;*/
      }

      .submit {
        font-size: 1.5em;
        /*float: right;
    		width: 150px;*/
        background-color: #0095e1;
        color: #fff;
        border: none;
        transition: all 0.3s ease-out;
      }

      .submit:hover:enabled {
        background-color: #345ade;
        color: #fff;
      }
      .submit:hover:disabled {
        color: #fff;
        cursor: not-allowed;
      }

      .submit i {
        margin-right: 8px;
      }

      .loader {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 99;
        background: #282a37;
        opacity: 0.9;
        display: none;
      }

      .show {
        display: block;
      }

      .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
      }

      .loading div {
        width: 1rem;
        height: 1rem;
        margin: 2rem 0.3rem;
        background: #979fd0;
        border-radius: 50%;
        -webkit-animation: 0.9s bounce infinite alternate;
        animation: 0.9s bounce infinite alternate;
      }

      .loading div:nth-child(2) {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }

      .loading div:nth-child(3) {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }
      .select2-container--default
        .select2-selection--multiple
        .select2-selection__rendered {
        padding-bottom: 5px;
      }
      .select2-container--default
        .select2-selection--multiple
        .select2-selection__choice {
        color: #080808;
      }
      .modal-header {
        color: #080808;
      }
      #agreement-body {
        white-space: pre-wrap;
        color: #080808;
      }
      .opt_pc_tablet,
      .opt_mobile {
        display: none;
      }
      @media screen and (min-width: 1200px) {
        .modal-dialog {
          min-width: 1100px;
        }
      }
      @media screen and (min-width: 800px) {
        .modal-dialog {
          min-width: 750px;
        }
      }
      @media screen and (min-width: 1200px) {
        .modal-dialog {
          min-width: 1000px;
        }
      }
      @-webkit-keyframes bounce {
        to {
          opacity: 0.3;
          -webkit-transform: translate3d(0, -1rem, 0);
          transform: translate3d(0, -1rem, 0);
        }
      }

      @keyframes bounce {
        to {
          opacity: 0.3;
          -webkit-transform: translate3d(0, -1rem, 0);
          transform: translate3d(0, -1rem, 0);
        }
      }
    </style>
  </head>

  <body>
    <script>
      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "Messenger");
    </script>
    <section class="loader">
      <div class="loading">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </section>
    <section id="contact">
      <div class="section-content">
        <h1 class="section-header">
          <span
            class="content-header wow fadeIn "
            data-wow-delay="0.2s"
            data-wow-duration="2s"
          >
            Complete your profile</span
          >
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="box">
              <!-- /.box-header -->
              <div class="box-body">
                <form>
                  <div class="form-group" id="language-container">
                    <label for="languages">Languages</label><br />
                    <select
                      id="languages"
                      multiple
                      name="languages"
                      class="form-control"
                    >
                      <% languages.forEach(function(language){ %>
                      <option
                        value="<%= language.Language_id %>"
                        data-country="<%= language.Country %>"
                        ><%= language.Language_name %></option
                      >
                      <% }) %>
                    </select>
                  </div>
                  <div class="form-group" id="native-language-container">
                    <label for="native-language"
                      >Select your native language</label
                    >
                    <select class="form-control" id="native-language"> </select>
                  </div>

                  <div class="form-group">
                    <label for="" class="form-control-label"
                      >Your payment info:</label
                    >
                    <div class="form-group">
                      <p
                        class="text-danger d-none"
                        id="payment-duration-warning"
                      >
                        Payment processing time will be longer than 7 days.
                        Payment will be received within 7 days if you choose
                        PayPal.
                      </p>
                      <select class="form-control" id="payment-options">
                        <option value="paypal">Paypal</option>
                        <option value="bank" class="d-none">Bank</option>
                        <!-- <option value="payoneer">Payoneer</option>
                        <option value="paysera">Paysera</option>
                        <option value="mpesa">mPesa</option>
                        <option value="idram">Idram (Armenia)</option> -->
                      </select>
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        id="payment-name"
                        class="form-control"
                        placeholder="Enter your Account Name"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="email"
                        id="payment-account"
                        class="form-control"
                        placeholder="Your payment email address"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="email"
                        id="payment-account2"
                        class="form-control"
                        placeholder="Please re-enter your payment email address"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        id="bank-phone-number"
                        class="form-control d-none"
                        placeholder="Enter the bank registered phone number"
                      />
                    </div>
                    <div class="form-group">
                      <select id="country" name="country" class="form-control">
                        <option value="" disabled selected
                          >Paypal registered Country
                        </option>
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Åland Islands">Åland Islands</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <option value="Anguilla">Anguilla</option>
                        <option value="Antarctica">Antarctica</option>
                        <option value="Antigua and Barbuda"
                          >Antigua and Barbuda</option
                        >
                        <option value="Argentina">Argentina</option>
                        <option value="Armenia">Armenia</option>
                        <option value="Aruba">Aruba</option>
                        <option value="Australia">Australia</option>
                        <option value="Austria">Austria</option>
                        <option value="Azerbaijan">Azerbaijan</option>
                        <option value="Bahamas">Bahamas</option>
                        <option value="Bahrain">Bahrain</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Belarus">Belarus</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Belize">Belize</option>
                        <option value="Benin">Benin</option>
                        <option value="Bermuda">Bermuda</option>
                        <option value="Bhutan">Bhutan</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Bosnia and Herzegovina"
                          >Bosnia and Herzegovina</option
                        >
                        <option value="Botswana">Botswana</option>
                        <option value="Bouvet Island">Bouvet Island</option>
                        <option value="Brazil">Brazil</option>
                        <option value="British Indian Ocean Territory"
                          >British Indian Ocean Territory</option
                        >
                        <option value="Brunei Darussalam"
                          >Brunei Darussalam</option
                        >
                        <option value="Bulgaria">Bulgaria</option>
                        <option value="Burkina Faso">Burkina Faso</option>
                        <option value="Burundi">Burundi</option>
                        <option value="Cambodia">Cambodia</option>
                        <option value="Cameroon">Cameroon</option>
                        <option value="Canada">Canada</option>
                        <option value="Cape Verde">Cape Verde</option>
                        <option value="Cayman Islands">Cayman Islands</option>
                        <option value="Central African Republic"
                          >Central African Republic</option
                        >
                        <option value="Chad">Chad</option>
                        <option value="Chile">Chile</option>
                        <option value="China">China</option>
                        <option value="Christmas Island"
                          >Christmas Island</option
                        >
                        <option value="Cocos (Keeling) Islands"
                          >Cocos (Keeling) Islands</option
                        >
                        <option value="Colombia">Colombia</option>
                        <option value="Comoros">Comoros</option>
                        <option value="Congo">Congo</option>
                        <option value="Congo, The Democratic Republic of The"
                          >Congo, The Democratic Republic of The</option
                        >
                        <option value="Cook Islands">Cook Islands</option>
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Cote D'ivoire">Cote D'ivoire</option>
                        <option value="Croatia">Croatia</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Cyprus">Cyprus</option>
                        <option value="Czech Republic">Czech Republic</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Djibouti">Djibouti</option>
                        <option value="Dominica">Dominica</option>
                        <option value="Dominican Republic"
                          >Dominican Republic</option
                        >
                        <option value="Ecuador">Ecuador</option>
                        <option value="Egypt">Egypt</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Equatorial Guinea"
                          >Equatorial Guinea</option
                        >
                        <option value="Eritrea">Eritrea</option>
                        <option value="Estonia">Estonia</option>
                        <option value="Ethiopia">Ethiopia</option>
                        <option value="Falkland Islands (Malvinas)"
                          >Falkland Islands (Malvinas)</option
                        >
                        <option value="Faroe Islands">Faroe Islands</option>
                        <option value="Fiji">Fiji</option>
                        <option value="Finland">Finland</option>
                        <option value="France">France</option>
                        <option value="French Guiana">French Guiana</option>
                        <option value="French Polynesia"
                          >French Polynesia</option
                        >
                        <option value="French Southern Territories"
                          >French Southern Territories</option
                        >
                        <option value="Gabon">Gabon</option>
                        <option value="Gambia">Gambia</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Germany</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Gibraltar">Gibraltar</option>
                        <option value="Greece">Greece</option>
                        <option value="Greenland">Greenland</option>
                        <option value="Grenada">Grenada</option>
                        <option value="Guadeloupe">Guadeloupe</option>
                        <option value="Guam">Guam</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Guernsey">Guernsey</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Guinea-bissau">Guinea-bissau</option>
                        <option value="Guyana">Guyana</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Heard Island and Mcdonald Islands"
                          >Heard Island and Mcdonald Islands</option
                        >
                        <option value="Holy See (Vatican City State)"
                          >Holy See (Vatican City State)</option
                        >
                        <option value="Honduras">Honduras</option>
                        <option value="Hong Kong">Hong Kong</option>
                        <option value="Hungary">Hungary</option>
                        <option value="Iceland">Iceland</option>
                        <option value="India">India</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="Iran, Islamic Republic of"
                          >Iran, Islamic Republic of</option
                        >
                        <option value="Iraq">Iraq</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Isle of Man">Isle of Man</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Italy</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japan</option>
                        <option value="Jersey">Jersey</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Kazakhstan">Kazakhstan</option>
                        <option value="Kenya">Kenya</option>
                        <option value="Kiribati">Kiribati</option>
                        <option value="Korea, Democratic People's Republic of"
                          >Korea, Democratic People's Republic of</option
                        >
                        <option value="Korea, Republic of"
                          >Korea, Republic of</option
                        >
                        <option value="Kuwait">Kuwait</option>
                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                        <option value="Lao People's Democratic Republic"
                          >Lao People's Democratic Republic</option
                        >
                        <option value="Latvia">Latvia</option>
                        <option value="Lebanon">Lebanon</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Liberia">Liberia</option>
                        <option value="Libyan Arab Jamahiriya"
                          >Libyan Arab Jamahiriya</option
                        >
                        <option value="Liechtenstein">Liechtenstein</option>
                        <option value="Lithuania">Lithuania</option>
                        <option value="Luxembourg">Luxembourg</option>
                        <option value="Macao">Macao</option>
                        <option
                          value="Macedonia, The Former Yugoslav Republic of"
                          >Macedonia, The Former Yugoslav Republic of
                        </option>
                        <option value="Madagascar">Madagascar</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Maldives">Maldives</option>
                        <option value="Mali">Mali</option>
                        <option value="Malta">Malta</option>
                        <option value="Marshall Islands"
                          >Marshall Islands</option
                        >
                        <option value="Martinique">Martinique</option>
                        <option value="Mauritania">Mauritania</option>
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mayotte">Mayotte</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Micronesia, Federated States of"
                          >Micronesia, Federated States of</option
                        >
                        <option value="Moldova, Republic of"
                          >Moldova, Republic of</option
                        >
                        <option value="Monaco">Monaco</option>
                        <option value="Mongolia">Mongolia</option>
                        <option value="Montenegro">Montenegro</option>
                        <option value="Montserrat">Montserrat</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Myanmar">Myanmar</option>
                        <option value="Namibia">Namibia</option>
                        <option value="Nauru">Nauru</option>
                        <option value="Nepal">Nepal</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="Netherlands Antilles"
                          >Netherlands Antilles</option
                        >
                        <option value="New Caledonia">New Caledonia</option>
                        <option value="New Zealand">New Zealand</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Niger">Niger</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Niue">Niue</option>
                        <option value="Norfolk Island">Norfolk Island</option>
                        <option value="Northern Mariana Islands"
                          >Northern Mariana Islands</option
                        >
                        <option value="Norway">Norway</option>
                        <option value="Oman">Oman</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Palau">Palau</option>
                        <option value="Palestinian Territory, Occupied"
                          >Palestinian Territory, Occupied</option
                        >
                        <option value="Panama">Panama</option>
                        <option value="Papua New Guinea"
                          >Papua New Guinea</option
                        >
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Philippines">Philippines</option>
                        <option value="Pitcairn">Pitcairn</option>
                        <option value="Poland">Poland</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Qatar">Qatar</option>
                        <option value="Reunion">Reunion</option>
                        <option value="Romania">Romania</option>
                        <option value="Russian Federation"
                          >Russian Federation</option
                        >
                        <option value="Rwanda">Rwanda</option>
                        <option value="Saint Helena">Saint Helena</option>
                        <option value="Saint Kitts and Nevis"
                          >Saint Kitts and Nevis</option
                        >
                        <option value="Saint Lucia">Saint Lucia</option>
                        <option value="Saint Pierre and Miquelon"
                          >Saint Pierre and Miquelon</option
                        >
                        <option value="Saint Vincent and The Grenadines"
                          >Saint Vincent and The Grenadines</option
                        >
                        <option value="Samoa">Samoa</option>
                        <option value="San Marino">San Marino</option>
                        <option value="Sao Tome and Principe"
                          >Sao Tome and Principe</option
                        >
                        <option value="Saudi Arabia">Saudi Arabia</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Serbia">Serbia</option>
                        <option value="Seychelles">Seychelles</option>
                        <option value="Sierra Leone">Sierra Leone</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Slovakia">Slovakia</option>
                        <option value="Slovenia">Slovenia</option>
                        <option value="Solomon Islands">Solomon Islands</option>
                        <option value="Somalia">Somalia</option>
                        <option value="South Africa">South Africa</option>
                        <option
                          value="South Georgia and The South Sandwich Islands"
                          >South Georgia and The South Sandwich Islands
                        </option>
                        <option value="Spain">Spain</option>
                        <option value="Sri Lanka">Sri Lanka</option>
                        <option value="Sudan">Sudan</option>
                        <option value="Suriname">Suriname</option>
                        <option value="Svalbard and Jan Mayen"
                          >Svalbard and Jan Mayen</option
                        >
                        <option value="Swaziland">Swaziland</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Syrian Arab Republic"
                          >Syrian Arab Republic</option
                        >
                        <option value="Taiwan, Province of China"
                          >Taiwan, Province of China</option
                        >
                        <option value="Tajikistan">Tajikistan</option>
                        <option value="Tanzania, United Republic of"
                          >Tanzania, United Republic of</option
                        >
                        <option value="Thailand">Thailand</option>
                        <option value="Timor-leste">Timor-leste</option>
                        <option value="Togo">Togo</option>
                        <option value="Tokelau">Tokelau</option>
                        <option value="Tonga">Tonga</option>
                        <option value="Trinidad and Tobago"
                          >Trinidad and Tobago</option
                        >
                        <option value="Tunisia">Tunisia</option>
                        <option value="Turkey">Turkey</option>
                        <option value="Turkmenistan">Turkmenistan</option>
                        <option value="Turks and Caicos Islands"
                          >Turks and Caicos Islands</option
                        >
                        <option value="Tuvalu">Tuvalu</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="United Arab Emirates"
                          >United Arab Emirates</option
                        >
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="United States">United States</option>
                        <option value="United States Minor Outlying Islands"
                          >United States Minor Outlying Islands</option
                        >
                        <option value="Uruguay">Uruguay</option>
                        <option value="Uzbekistan">Uzbekistan</option>
                        <option value="Vanuatu">Vanuatu</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Viet Nam">Viet Nam</option>
                        <option value="Virgin Islands, British"
                          >Virgin Islands, British</option
                        >
                        <option value="Virgin Islands, U.S."
                          >Virgin Islands, U.S.</option
                        >
                        <option value="Wallis and Futuna"
                          >Wallis and Futuna</option
                        >
                        <option value="Western Sahara">Western Sahara</option>
                        <option value="Yemen">Yemen</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="gender" class="form-control-label"
                      >Select your gender:</label
                    >
                    <div class="gender-wrapper">
                      <div
                        class="custom-control custom-radio custom-control-inline"
                      >
                        <input
                          type="radio"
                          id="customRadioInline1"
                          name="gender"
                          class="custom-control-input"
                          required
                          value="m"
                        />
                        <label
                          class="custom-control-label"
                          for="customRadioInline1"
                          >Male</label
                        >
                      </div>
                      <div
                        class="custom-control custom-radio custom-control-inline"
                      >
                        <input
                          type="radio"
                          id="customRadioInline2"
                          name="gender"
                          class="custom-control-input"
                          required
                          value="f"
                        />
                        <label
                          class="custom-control-label"
                          for="customRadioInline2"
                          >Female</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="form-control-label">Age</label>
                    <input
                      type="number"
                      id="user_age"
                      class="form-control"
                      placeholder="Enter your age"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="device" class="form-control-label"
                      >Select your device:</label
                    >
                    <div class="device-wrapper">
                      <div
                        class="custom-control custom-radio custom-control-inline"
                      >
                        <input
                          type="radio"
                          id="device_mobile"
                          name="device"
                          class="custom-control-input device"
                          value="mobile"
                        />
                        <label class="custom-control-label" for="device_mobile"
                          >Mobile</label
                        >
                      </div>
                      <div
                        class="custom-control custom-radio custom-control-inline"
                      >
                        <input
                          type="radio"
                          id="device_pc"
                          name="device"
                          class="custom-control-input device"
                          value="pc"
                        />
                        <label class="custom-control-label" for="device_pc"
                          >PC/Laptop</label
                        >
                      </div>
                      <div
                        class="custom-control custom-radio custom-control-inline"
                      >
                        <input
                          type="radio"
                          id="device_tablet"
                          name="device"
                          class="custom-control-input device"
                          value="tablet"
                        />
                        <label class="custom-control-label" for="device_tablet"
                          >Tablet</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <select class="form-control" id="os_used">
                      <option value="" disabled selected
                        >Operating System used</option
                      >
                      <option value="android" class="opt_mobile"
                        >Android</option
                      >
                      <option value="ios" class="opt_mobile">iOS</option>
                      <option value="windows" class="opt_pc_tablet"
                        >Windows</option
                      >
                      <option value="macos" class="opt_pc_tablet">MacOS</option>
                      <option value="linux" class="opt_pc_tablet">Linux</option>
                      <option value="chromeOS" class="opt_pc_tablet"
                        >ChromeOS</option
                      >
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="" class="form-control-label">Device Name</label>
                    <input
                      type="text"
                      id="device_name"
                      class="form-control"
                      placeholder="Device Name"
                      required
                      pattern="[A-Za-z1-9\+-_]"
                    />
                  </div>
                  <div class="form-group">
                    <button
                      type="button"
                      class="btn btn-secondary btn-block submit"
                    >
                      <i class="fa fa-share" aria-hidden="true"></i>Start
                      Project
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div
      class="modal fade"
      id="documentationModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="documentationModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="documentationModalLabel">
              Modal title
            </h5>
          </div>
          <div class="modal-body">
            ...
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $("#languages").on("change", function(e) {
          document.getElementById("native-language").innerHTML = "";
          var languagesRetrieve = $("#languages").select2("data");
          for (var i = 0; i < languagesRetrieve.length; i++) {
            var x = document.createElement("OPTION");
            x.setAttribute("value", languagesRetrieve[i].id);
            var t = document.createTextNode(languagesRetrieve[i].text);
            x.appendChild(t);
            document.getElementById("native-language").appendChild(x);
          }
          checkCountry($("#native-language").val());
        });
        $("#languages").on("select2:clear", function() {
          document.getElementById("native-language").innerHTML = "";
        });
      });
      $(document).ready(function() {
        $(".device").on("click", function() {
          const device_type = $("input[name=device]:checked").val();
          if (device_type == "mobile") {
            $(".opt_mobile").css("display", "block");
            $(".opt_pc_tablet").css("display", "none");
          } else if (device_type == "pc" || device_type == "tablet") {
            $(".opt_pc_tablet").css("display", "block");
            $(".opt_mobile").css("display", "none");
          }
        });
        $(".submit").click(function() {
          $(".loader").addClass("show");
          const country = $("#country").val();
          const payment_option = $("#payment-options").val();
          var payment_account = $("#payment-account").val();
          var payment_account2 = $("#payment-account2").val();
          const payment_name = $("#payment-name").val();
          const os_used = $("#os_used").val();
          var languagesRetrieve = $("#languages").select2("data");
          var languages = [];
          for (var i = 0; i < languagesRetrieve.length; i++) {
            languages.push(languagesRetrieve[i].id);
          }
          languages = JSON.stringify(languages);

          // success
          const userId = "<%= psid %>";
          const user_type = "<%= user_type %>";
          // const payment = JSON.stringify({
          //   payment_option,
          //   payment_account
          // });
          const gender = $("input[name=gender]:checked").val();
          const age = $("#user_age").val();
          const device_type = $("input[name=device]:checked").val();
          const device_name = $("#device_name")
            .val()
            .split(" ")
            .join("")
            .toLowerCase()
            .replace("+", "plus");
          const phone_number = $("#bank-phone-number").val();
          const native_language = $("#native-language").val();
          if (
            payment_account == "" ||
            payment_option == "" ||
            languagesRetrieve.length == 0 ||
            gender == "" ||
            device_name == "" ||
            device_type == "" ||
            payment_account == "" ||
            payment_account2 == ""
          ) {
            Swal.fire({
              title: "Error!",
              text: "All Fields are required",
              type: "error",
              confirmButtonText: "Cool"
            });
            $(".loader").removeClass("show");
            return;
          }

          if (payment_account != payment_account2) {
            var error_text =
              "Payment email and confirmation payment email address must be same";
            if (payment_option == "bank") {
              error_text =
                "Bank account number and confirmation account number must be same";
            }
            Swal.fire({
              title: "Error!",
              text: error_text,
              type: "error",
              confirmButtonText: "Cool"
            });
            $(".loader").removeClass("show");
            return;
          }
          if (payment_option != "bank") {
            var emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (!emailRegex.test(String(payment_account).toLowerCase())) {
              Swal.fire({
                title: "Error!",
                text: "Please enter a valid email address",
                type: "error",
                confirmButtonText: "Cool"
              });
              $(".loader").removeClass("show");
              return;
            }
          }

          var letterNumbers = /^[0-9a-zA-Z]+$/;
          if (!device_name.match(letterNumbers)) {
            Swal.fire({
              title: "Error!",
              text: "Device name must be Alphanumeric only",
              type: "error",
              confirmButtonText: "Cool"
            });
            $(".loader").removeClass("show");
            return;
          }
          if (payment_option == "bank") {
          payment_account = JSON.stringify({
            payment_account: payment_account,
            phone_number: phone_number
          });
        }
          const params = {
            userId,
            payment_option,
            payment_account,
            languages,
            native_language,
            gender,
            age,
            device_type,
            device_name,
            country,
            payment_name,
            os_used,
            user_type
          };
          var form = document.createElement("form");
          form.style.visibility = "hidden"; // no user interaction is necessary
          form.method = "POST"; // forms by default use GET query strings
          form.action = "/set-user-profile";
          Object.keys(params).forEach(function(key, index) {
            var input = document.createElement("input");
            input.name = key;
            input.value = params[key];
            form.appendChild(input); // add key/value pair to form
          });
          document.body.appendChild(form); // forms cannot be submitted outside of body
          form.submit();
        });
      });
    </script>
    <script>
      $("#native-language").change(function() {
        var optionSelected = $(this).find("option:selected");
        var valueSelected = optionSelected.val();
        var textSelected = optionSelected.text();
        checkCountry(valueSelected);
      });
      $("#payment-options").change(function() {
        var optionSelected = $(this).find("option:selected");
        var valueSelected = optionSelected.val();
        var textSelected = optionSelected.text();
        if (valueSelected != "paypal") {
          $("#payment-duration-warning").removeClass("d-none");
        } else {
          $("#payment-duration-warning").addClass("d-none");
        }
        if (valueSelected == "bank") {
          $("#payment-account").attr(
            "placeholder",
            "Enter your " +
              checkCountry($("#native-language").val()) +
              "'s bank account number"
          );
          $("#payment-account2").attr(
            "placeholder",
            "Please re-enter your bank account number"
          );
          $("#country").addClass("d-none");
          $("#bank-phone-number").removeClass("d-none");
        } else {
          $("#payment-account").attr(
            "placeholder",
            "Your Payment Email Address"
          );
          $("#payment-account2").attr(
            "placeholder",
            "Please re-enter your payment email address"
          );
          $("#country").addClass("d-none");
          $("#bank-phone-number").addClass("d-none");
        }
      });
      function checkCountry(lang_id) {
        var country = $("option[value=" + lang_id + "]").data("country");
        if (country == "Latvia") {
          $("#payment-options option[value=bank]").removeClass("d-none");
        } else {
          $("#payment-options option[value=bank]").addClass("d-none");
          $("#payment-options")
            .val("paypal")
            .change();
        }
        return country;
      }
    </script>
  </body>
</html>
