<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Recording App</title>
    <!-- JQuery -->
    <script src="js/others/jquery-3.4.1.min.js"></script>
    <script src="js/others/popper.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/others/bootstrap.min.css" />
    <script src="js/others/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/4b4f7a3446.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Gelasio&display=swap"
      rel="stylesheet"
    />
    <!-- Audio Player -->
    <script src="js/audioplayer.js"></script>
    <link rel="stylesheet" href="css/audioplayer.css" />
    <script src="js/recorder.js"></script>

    <link rel="stylesheet" href="css/style.css" />
    <script>
      var phrases_obj_list=[];
      var phraseIndex = 0;
      var languageIndex = 0;
      var user_info = [];
      var count = {};
      var user_add_details = {userId:"<%= user_add_details.userId %>", payment_option:"<%= user_add_details.payment_option %>",payment_account:"<%= user_add_details.payment_account %>", gender:"<%= user_add_details.gender %>",device_type:"<%= user_add_details.device_type %>",device_name:"<%= user_add_details.device_name %>",age:"<%= user_add_details.age %>",gender:"<%= user_add_details.gender %>"};
      <% user_info.map(function(user){ %>
        var user = {user_id:"<%= user.User_id %>", Languages_id:"<%= user.Language_id %>",Audio_Count:"<%= user.Audio_Count %>", Status:"<%= user.Status %>"};
        user_info.push(user);
        // count[user.Language_id.toString()] = 0;
      <% }) %>

      var language_phrases = [];
      <% language_phrases.map(function(language_phrase){ %>
        var language_phrase = {Phrase_id:"<%= language_phrase.Phrase_id %>", Language_id: "<%= language_phrase.Language_id %>", Phrase : "<%= language_phrase.Phrase %>"};
        language_phrases.push(language_phrase);
        // count[language_phrase.Language_id.toString()]++;
      <% }) %>

      var language_info = [];
      <% language_info.map(function(language){ %>
        language_info.push({Language_id:"<%= language.Language_id %>", Language_name: "<%= language.Language_name %>",Phrases_count : "<%= language.Phrases_count %>"});
      <% }) %>

      var completed_phrases = [];
      <% completed_phrases.map(function(completed_phrase){ %>
        completed_phrases.push({User_id:"<%= completed_phrase.User_id %>", Phrase_id: "<%= completed_phrase.Phrase_id %>"});
      <% }) %>
    </script>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <div class="row">
        <div class="col-12">
          <p id="language_header">
            Your recordings will be tagged with the following:
          </p>
        </div>
      </div>
      <!-- Account Details Container -->
      <div class="row mt-2" id="user_details_container">
        <div class="col-md-4">
          <div class="row">
            <div class="col-2" id="svg-container">
              <svg
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                id="account-svg"
              >
                <path
                  d="m463.09375 406.492188c31.71875-43.519532 48.90625-95.886719 48.90625-150.503907 0-141.480469-114.496094-255.988281-256-255.988281-141.488281 0-256 114.492188-256 255.988281 0 54.601563 17.179688 106.953125 48.878906 150.464844 102.132813-140.484375 311.9375-140.609375 414.214844.039063zm-297.09375-255.5c0-49.621094 40.375-89.996094 90-89.996094s90 40.375 90 89.996094v30c0 49.625-40.375 89.996093-90 89.996093s-90-40.371093-90-89.996093zm0 0"
                />
                <path
                  d="m256 240.988281c33.085938 0 60-26.914062 60-59.996093v-30c0-33.082032-26.914062-59.996094-60-59.996094s-60 26.914062-60 59.996094v30c0 33.082031 26.914062 59.996093 60 59.996093zm0 0"
                />
                <path
                  d="m68.757812 430.527344c101.289063 108.601562 273.167969 108.683594 374.550782-.074219-89.375-132.792969-284.695313-132.1875-374.550782.074219zm0 0"
                />
              </svg>
            </div>
            <div class="col-10">
              <h5 class="transform-align-middle" id="user_name"></h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6 form-group">
              <select class="form-control" id="gender-select">
                <option value="">Gender</option>
                <option value="m">Male</option>
                <option value="f">Female</option>
              </select>
            </div>
            <div class="col-md-6 form-group">
              <input
                type="number"
                class="form-control"
                placeholder="Age"
                id="age-select"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4" id="phrase_container">
        <div class="col-12">
          <h3 id="phrase"></h3>
        </div>
      </div>
      <!--<div class="row mt-2" id="phrase_notice_container">
        <div class="col-md-12">
          <h5 class="text-center" id="phrase_notice">
            Prompt will be visible after you press the Record button.
          </h5>
        </div>
      </div>-->
      <div class="row mt-5">
        <div id="mic-recorder-container" class="col-md-12 text-center">
          <div id="mic-recorder" class="disabled">
            <svg
              version="1.1"
              id="mic"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="488.143px"
              height="488.143px"
              viewBox="0 0 488.143 488.143"
              style="enable-background:new 0 0 488.143 488.143;"
              xml:space="preserve"
            >
              <g>
                <path
                  id="mic-path"
                  d="M378.702,123.405h-52.104V81.584C326.599,36.528,290.072,0,245.013,0c-0.315,0-1.571,0-1.887,0
		c-45.057,0-81.586,36.528-81.586,81.584v41.821h-52.102c-11.362,0-22.98,9.037-22.98,20.396c0,1.315,0.38,92.342,0.384,93.415
		c0,79.861,59.012,146.189,135.72,157.692v52.098h-56.907c-11.358,0-20.569,9.207-20.569,20.568
		c0,11.359,9.211,20.568,20.569,20.568h156.83c11.359,0,20.568-9.209,20.568-20.568c0-11.361-9.209-20.568-20.568-20.568H265.58
		v-52.098c76.706-11.503,135.72-77.832,135.72-157.692c0-0.995,0.385-92.1,0.385-93.415
		C401.683,132.442,390.065,123.405,378.702,123.405z M360.163,237.216c0,64.499-51.877,117.074-116.094,118.278
		c-64.217-1.204-116.093-53.779-116.093-118.278c0-0.249-0.158-46.806-0.243-72.675h33.807v84.33
		c0,45.055,36.529,81.582,81.586,81.582c0.315,0,1.571,0,1.887,0c45.059,0,81.585-36.527,81.585-81.582v-84.33h33.809
		C360.321,190.411,360.163,236.967,360.163,237.216z"
                />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div>
        <p id="err"></p>
      </div>
      <h3>Recordings</h3>
      <ol id="recordingsList"></ol>
    </div>
    <script src="js/context.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
