<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Audio Status</title>
    <script src="js/others/jquery-3.4.1.min.js"></script>
    <script src="js/others/popper.min.js"></script>
    <link rel="stylesheet" href="css/others/bootstrap.min.css" />
    <script src="js/others/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/4b4f7a3446.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      body {
        padding: 2% 5% 0;
      }
      th {
        vertical-align: middle !important;
        text-align: center;
      }
      tbody tr:hover {
        cursor: pointer;
      }
      .dropdown-menu {
        left: -100px !important;
      }
      @media screen and (min-width: 1920px) {
        #language-status-table {
          min-width: 1300px;
        }
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col-12">
        <h1>Language Status</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <input
            type="text"
            id="filterQuery"
            onkeyup="filterRows()"
            class="form-control"
            placeholder="Filter Query"
          />
        </div>
      </div>
      <col-4>
        <div class="form-group">
          <select name="filterReq" id="filterReq" class="form-control">
            <option value="psid">PSID</option>
            <option value="gender">Gender</option>
            <option value="device_type">Device_type</option>
            <option value="device_name">Device_name</option>
            <option value="os_used">OS_Used</option>
            <option value="payment_option">Payment_option</option>
            <option value="payment_account">Payment_account</option>
            <option value="description">Status</option>
          </select>
        </div></col-4
      >
    </div>
    <div class="row">
      <table
        class="table table-bordered table-striped table-hover"
        id="language-status-table"
      >
        <thead>
          <tr>
            <th rowspan="2">Name</th>
            <th colspan="6">User Details</th>
            <th rowspan="2">ID Generation Timestamp</th>
            <th rowspan="2">
              Status
              <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-primary dropdown-toggle"
                  data-toggle="dropdown"
                >
                  <i class="fas fa-filter"></i>
                </button>
                <div class="dropdown-menu" id="status-filter-dropdown"></div>
              </div>
            </th>
          </tr>
          <tr>
            <th>Gender</th>
            <th>Device Type</th>
            <th>Device Name</th>
            <th>OS Used</th>
            <th>Payment Method</th>
            <th>Payment Information</th>
          </tr>
        </thead>
        <tbody id="language-status-table-body">
          <% table.forEach(function(row){ %>
          <tr data-user-id="<%= row.User_id %>">
            <td scope="row" data-name="psid"><%= row.PSID %></td>
            <td scope="row" data-name="gender"><%= row.Gender %></td>
            <td scope="row" data-name="device_type">
              <%= row.Device_type %>
            </td>
            <td scope="row" data-name="device_name">
              <%= row.Device_name %>
            </td>
            <td scope="row" data-name="os_used"><%= row.OS_Used %></td>
            <td scope="row" data-name="payment_option">
              <%= row.Payment_option %>
            </td>
            <td scope="row" data-name="payment_account">
              <%= row.Payment_account %>
            </td>
            <td scope="row" data-name="id_generated_time">
              <%= row.ID_Generated_Time %>
            </td>
            <td scope="row" data-name="description">
              <%= row.Description %>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <script>
      $("tbody tr").on("click", function(e) {
        var req_user_id = $(e.currentTarget).data("user-id");
        console.log(req_user_id);
        // window.location.href = "./reviewer-portal";
        $("<form>", {
          id: "req_user_id",
          html:
            '<input type="text" id="req_user_id_inp" name="req_user_id" value="' +
            req_user_id +
            '" />',
          action: "./reviewer-portal"
        })
          .appendTo(document.body)
          .submit();
      });
      // Create filter dropdown for all the status
      $.ajax({
        url: "./api/get-status-info",
        method: "POST",
        success: function(data) {
          data.forEach(row => {
            var a = document.createElement("a");
            a.classList = "dropdown-item";
            a.setAttribute("href", "#");
            a.innerText = row.Description;
            a.setAttribute(
              "onclick",
              "filterRows('" + row.Description + "','description')"
            );
            $("#status-filter-dropdown").append(a);
          });
        }
      });
      function filterRows(
        inputValue = $("#filterQuery")
          .val(),
        selected = $("#filterReq").val()
      ) {
        var tr = $("#language-status-table-body tr");
        tr.each((index, element) => {
          if (inputValue) {
            var req = element.querySelector("[data-name=" + selected + "]");
            if (req.textContent.toUpperCase().trim().indexOf(inputValue.toUpperCase()) > -1) {
              element.style.display = "table-row";
            } else {
              element.style.display = "none";
            }
          }
          if (!inputValue) {
            element.style.display = "table-row";
          }
        });
      }
    </script>
  </body>
</html>
