<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reviewer Portal</title>
    <script src="js/others/jquery-3.4.1.min.js"></script>
    <script src="js/others/popper.min.js"></script>
    <link rel="stylesheet" href="css/others/bootstrap.min.css" />
    <script src="js/others/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/reviewer-portal.css" />
  </head>
  <body>
    <div class="container">
      <!-- Header Row -->
      <div class="row">
        <div class="col-sm-12">
          <h1 id="language">
            Reviewer Portal
          </h1>
        </div>
      </div>
      <!-- Logo, Reviewer, Language Row -->
      <div class="row header">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-2" id="svg-container">
              <svg
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                id="account-svg"
              >
                <path
                  d="m463.09375 406.492188c31.71875-43.519532 48.90625-95.886719 48.90625-150.503907 0-141.480469-114.496094-255.988281-256-255.988281-141.488281 0-256 114.492188-256 255.988281 0 54.601563 17.179688 106.953125 48.878906 150.464844 102.132813-140.484375 311.9375-140.609375 414.214844.039063zm-297.09375-255.5c0-49.621094 40.375-89.996094 90-89.996094s90 40.375 90 89.996094v30c0 49.625-40.375 89.996093-90 89.996093s-90-40.371093-90-89.996093zm0 0"
                />
                <path
                  d="m256 240.988281c33.085938 0 60-26.914062 60-59.996093v-30c0-33.082032-26.914062-59.996094-60-59.996094s-60 26.914062-60 59.996094v30c0 33.082031 26.914062 59.996093 60 59.996093zm0 0"
                />
                <path
                  d="m68.757812 430.527344c101.289063 108.601562 273.167969 108.683594 374.550782-.074219-89.375-132.792969-284.695313-132.1875-374.550782.074219zm0 0"
                />
              </svg>
            </div>
            <div class="col-10">
              <h4 class="transform-align-middle" id="reviewer-id-container">
                <%= user_add_details.Name %>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <h4 class="transform-align-middle">
            <%= language %>
          </h4>
        </div>
        <% if(user_add_details.Role == "SUPER-ADMIN" || user_add_details.Role ==
        "LEAD"){ %>
        <div class="col-sm-4">
          <h4 class="transform-align-middle">
            <%= recorded_user %>
          </h4>
        </div>
        <% } %>
      </div>
      <!-- Phrase Row -->
      <div class="row mt-5">
        <div class="col-sm-1"><h4>Text:</h4></div>
        <div class="col-sm-auto">
          <h4 id="phrase">Phrases........................................</h4>
        </div>
      </div>
      <!-- Audio Sample -->
      <div class="row mt-5">
        <div class="col-12">
          <h4>Audio Sample:</h4>
        </div>
      </div>
      <!-- Audio Waveform -->
      <div class="row mt-5">
        <div class="col-12">
          <div id="waveform"></div>
        </div>
      </div>
      <!-- Audio Buttons Row -->
      <div class="row mt-5" id="wave-buttons-container">
        <div class="col-sm-4">
          <button type="button" class="btn btn-secondary" id="btn-backward">
            Skip Backward
          </button>
        </div>
        <div class="col-sm-4">
          <button
            type="button"
            class="btn btn-primary"
            id="btn-play_pause_toggle"
          >
            Play/Pause
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-secondary" id="btn-forward">
            Skip Forward
          </button>
        </div>
      </div>
      <!-- Action Buttons Row -->
      <div class="row mt-5" id="actions-buttons-container">
        <div class="col-sm-4">
          <button
            type="button"
            class="btn btn-danger"
            id="btn-error"
            data-toggle="modal"
            data-target="#errorModal"
          >
            Error
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-info" id="btn-next">
            OK/Next
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-success" id="btn-approve">
            Approve
          </button>
          <button class="btn btn-danger" id="btn-send-redo">
            Send for Redo
          </button>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="errorModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="errorModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalTitle">Error</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="error_select"></div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
              >
                Save Changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/others/wavesurfer.js"></script>
    <script>
      var file = [];
      var file_name = [];
      var phrases_list = [];
      var languages = [];

      <% file_list.forEach(function(file_name,index){ %>
        file_name.push("<%= file_name %>");
        file.push("<%= file_name %>");
      <% }) %>
      <% phrases_list.forEach(function(phrase,index){ %>
        phrases_list.push("<%= phrase %>");
      <% }) %>
      function preload_audio(start, end) {
        for (i = start; i <= end; i++) {
          var preloader = new Audio();
          preloader.crossOrigin = "anonymous";
          preloader.addEventListener(
            "canplaythrough",
            function() {
              loaded++;
              console.log(loaded);
            },
            false
          );
          preloader.src = file[i];
        }
      }
      var audio_index = 0;
      var wavesurfer = WaveSurfer.create({
        container: "#waveform",
        scrollParent: true,
        skipLength: 0.25,
        mediaControls: true,
        barWidth: 1
      });

      wavesurfer.load(file[audio_index]);
      $("#phrase").text(phrases_list[audio_index]);
      preload_audio(1, file.length - 1);
    </script>
    <script src="../js/reviewer-portal.js"></script>
    <script>

      var reviewer_side =true;
      var recorded_user;
      var recorded_user_id;
      var reviewer_review;
        $(document).ready(function() {
          $.ajax({
            url: "./api/get-error-list",
            method: "POST",
            success: function(data) {
              data.forEach(function(row) {
                var req =
                  '<div class="row"><div class="col-12"><div class="checkbox"><label><input type="checkbox" name="error_types" data-error-id="' +
                  row.Comment_id +
                  '"/>' +
                  row.Comment_description +
                  '</label></div><textarea id="errtxt_' +
                  row.Comment_id +
                  '"></textarea></div></div>';
                $("#error_select").append(req);



              });
            <% if (typeof recorded_user !="undefined"){ %>
              check_user_errors();
              reviewer_review= true;
            <% } %>

            }
          });

      });

      <% if (user_add_details.Role == "SUPER-ADMIN"){ %>
      function check_user_errors(){
              reviewer_side = false;
              recorded_user = <%= recorded_user %>;
              recorded_user_id = <%= recorded_user_id %>
              $.ajax({
                url:"./api/get-user-error-list",
                method:"POST",
                data:{
                  recorded_user:recorded_user_id,
                  phrase_id:file_name[audio_index].split("_")[1].slice(0,-4)
                },
                success:function(data){
                  data.forEach((row)=>{
                    $("input[data-error-id ="+ row.Comment_id+"]").prop('checked',true);
                    $("textarea#errtxt_"+ row.Comment_id).val(row.Further_comments);
                    $("textarea#errtxt_"+ row.Comment_id).css("display","block");
                  })
                }
              });
              }
              <% } %>
    </script>
  </body>
</html>
