<html>
  <head>
    <meta charset="UTF-8" />
    <title>Complete Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="css/others/select2.css" rel="stylesheet" />
    <script src="js/others/select2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <style>
      #agreement-body {
        white-space: pre-wrap;
        color: #080808;
        padding: 10px;
        margin-bottom: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            This site enables Audio Bee to collect voice smples from you, for
            the purpose of developing and improving speech recognition
            technologies.
          </p>
          <p>
            You must fill out the form for your country and agree to the terms
            befor using this site.
          </p>
        </div>
        <div class="col-12">
          <label for="languages">Select your languages:</label>
          <select id="languages" name="languages" class="form-control">
            <% languages.forEach(function(language){ %>
            <option value="<%= language.Language_id %>"
              ><%= language.Language_name %></option
            >
            <% }) %>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12" id="agreement-body">
          <p></p>
        </div>
      </div>
    </div>
    <script>
      var show_button = false;
      $("#languages").on("change", function() {
        var language = $("#languages").val();
        $.ajax({
          url: "./api/get-agreement",
          method: "POST",
          data: {
            language: language
          },
          success: function(data) {
            $("#agreement-body button").remove();
            $("#agreement-body p").text(data.Terms);
            var agree_btn = document.createElement("button");
            agree_btn.setAttribute("id", "agree_btn");
            agree_btn.setAttribute("class", "btn btn-secondary");
            agree_btn.setAttribute("data-language-id", data.Language_id);
            var txtnode = document.createTextNode(
              "I have read and agree to the terms"
            );
            agree_btn.appendChild(txtnode);
            $("#agreement-body").append(agree_btn);
          }
        });
      });
      $(document).on("click", "#agree_btn", function() {
        var language_id = $("#agree_btn").attr("data-language-id");
        console.log(language_id);
        window.location.href = "./audio-recorder?language_id=" + language_id;
        // $.ajax({
        //   url: "./audio-recorder",
        //   method:"POST",
        //   data: {
        //     language_id: language_id
        //   }
        // });
      });
    </script>
  </body>
</html>
