.container{
    max-width: 1800px;
    height: 100%;
}
.row{
    min-height: 50px;
}
.header{
    max-height: 70px;
}
.header  *{
    color: rgba(128,128,128,1);
}
.transform-align-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
#account-svg{
    height: 70px;
}
#wave-buttons-container *,#actions-buttons-container *{
    font-size: 18px;
}

#error_select textarea{
    display: none;
}
#btn-approve,#btn-send-redo{
    display: none;
}
@media screen and (max-width:1300px){
    #svg-container{
        display: none;
    }
}