* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gelasio", serif;
}
.container {
  max-width: 1800px;
  height: 100%;
}
.row {
  min-height: 50px;
}
#user_details_container {
  max-width: 1344px;
  width: 100%;
}
#mic-recorder,
#mic-recorder svg {
  display: inline-block;
}
#mic-recorder {
  background: rgb(255, 255, 255);
  border: 3px solid #fafafa;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  padding: 2%;
  cursor: pointer;
  transition-duration: 0.25s;
  color: #fff !important;
  padding: 30px;
}
#mic-recorder.disabled:hover {
  cursor: not-allowed;
}
#mic-recorder:not(.disabled):hover {
  background: #e1e1e1;
  border: 3px solid #e1e1e1;
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.25);
}
#mic-recorder:not(.disabled):hover svg * {
  fill: #ffffff;
}
#mic-recorder svg {
  height: 200px;
  width: 200px;
}
#mic-recorder svg * {
  fill: #e1e1e1;
}
.bg-red {
  background: #f73e40 !important;
}
.fill-white {
  fill: #fff !important;
}
#account-svg {
  height: 70px;
}
#account-svg path {
  fill: #737472;
}
.transform-align-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
form .row {
  margin-top: 4%;
}
.form-control {
  border: 0 !important;
  border-bottom: 1px solid #000 !important;
}
.form-control:focus,
.form-control:active {
  box-shadow: none !important;
}
#recordingsList {
  max-width: 400px;
  width: 100%;
}
.audio-trigger:hover {
  cursor: pointer;
}
#phrase_notice {
  color: #adadad;
}
i {
  font-size: 2rem !important;
}
